.FavoritesContainer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.ContainerOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.Options {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: auto;
    
}

@media screen and (max-width: 768px) {
    .Options {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.Options select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: arrow;
    outline: none;
    font-size: larger;
    font-family: cursive;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.597);
    color: #000000;
    border: 2px solid #17e12b;
    width: 100%;
    text-shadow: rgb(255, 255, 250) 0.1em 0.1em 0.2em;
    font-weight: bold;
}

.Options select option {
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    text-align: left;
    width: auto;
    background-color: rgba(255, 255, 255, 0.597);
    color: #000000;
    box-sizing: border-box;

}